@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fira+Sans&family=PT+Sans:wght@700&family=Roboto+Slab:wght@500&family=Ubuntu:wght@500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #17181c;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  margin-left: 3%;
  color: #edf1ff;
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  text-shadow: 4px 2px 15px #0072b5;
}
main {
  flex: 1 1 auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: flex;
  padding: 1%;
  overflow-x: auto;
  max-width: 95%;
  margin: 25px 15px;
}
.news-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  width: fit-content;
  height: 5rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  font-family: "Fira Sans", sans-serif;
  margin: 5px;
  transition: 0.5s ease;
  cursor: pointer;
  border: 3px solid #edf1ff;
  outline: none;
  color: #edf1ff;
  background-color: #2a293e;
  white-space: nowrap;
  border-radius: 10px;
}
.btn:hover {
  color: #2a293e;
  background-color: #edf1ff;
}
.news {
  overflow: hidden;
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 20px;
  flex-direction: row;
  margin: 15px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(255, 255, 255, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.news:hover .news-img{
  transform: scale(1.5);
}
.news-img {
  width: 50%;
  min-height: 100%;
  border-radius: 20px 0 0 20px;
  transition: 0.5s ease;
}
.news-content {
  padding-left: 10px;
  width: 50%;
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.news-title {
  font-family: "PT Sans", sans-serif;
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin: 10px 0;
}
.news-name {
  font-family: "Anton", sans-serif;
  font-size: 1.3rem;
  color: #a09998;
  margin: 10px 0;
}
hr {
  width: 20%;
  height: 5px;
  margin-left: 0;
  background-color: #88b04b;
  border-radius: 50px;
  border: none;
  outline: none;
  margin: 0;
}
.news-descrpt {
  font-family: "Ubuntu", sans-serif;
  margin: 10px 0;
  font-size: 1.5rem;
  color: #363945;
}
.read-more {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  text-decoration: none;
  color: #00758f;
  font-size: 1.3rem;
  float: right;
  margin-right: 20px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
footer p {
  font-size: 1.3rem;
  color: #363945;
  font-family: "Ubuntu", sans-serif;
}
footer a {
  text-decoration: none;
  color: #939597;
}
.footer-logo {
  max-width: 15rem;
  height: 4rem;
  transform: scale(1);
  transition: 0.5s ease;
}
.footer-logo:hover {
  transform: scale(1.2);
}
