.m5 {
    background: url('../assets/m5.webp') white;
}
.m8 {
    background: url('../assets/m8.webp') white;
}
.x4m {
    background: url('../assets/x4m.webp') white;
}
.x6 {
    background: url('../assets/x6.webp') white;
}
.x7 {
    background: url('../assets/x7.webp') white;
}
.s5 {
    background: url('../assets/5series.webp') white;
}
.s8 {
    background: url('../assets/8series.webp') white;
}
.i4 {
    background: url('../assets/i4.webp') white;
}
.i7 {
    background: url('../assets/i7.webp') white;
}
.ix {
    background: url('../assets/ix.webp') white;
}
.x5m {
    background: url('../assets/x5m.webp') white;
}
.z4 {
    background: url('../assets/z4.webp') white;
}
