@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@700&display=swap');
body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: #edf1ff;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}
footer .copyright {
    font-size: 20px;
    color: #333;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
footer .github-icon {
    width: 65px;
    height: 65px;
    transform: scale(0.9);
    transition: 0.3s ease;
}
footer .rs-icon {
    width: 200px;
    height: 55px;
    transform: scale(0.9);
    transition: 0.3s ease;
}
@media (max-width:520px) {
    footer{
        justify-content: center;
    }
}
.rs-icon:hover,
.github-icon:hover {
    transform: scale(1.1);
}
